[defaults]
remote_user = root
ask_pass = true
#private_key_file = ~/.ssh/homelab_key
host_key_checking = false
inventory = ../inventory.yml
roles_path = ../roles/
retry_files_enabled = false

[privilege_escalation]
#become = true
#become_method = sudo
#become_user = root
#become_ask_pass = true
